@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita/Gordita\ Light.otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita/Gordita\ Regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita/Gordita\ Medium.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita/Gordita\ Bold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita/Gordita\ Ultra.otf');
    font-style: normal;
    font-weight: 900;
}