* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.15;
}

body{
    background: #000;
    color: #fff;
    font-family: 'Gordita', arial, sans-serif !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.wrapper{
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    &.flex{
        display: flex;
        justify-content: space-between;
        &.center{
            align-items: center;
        }
    }
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
}

ul{
    li{
        list-style: none;
    }
}

button{
    font-family: "gordita";
}




.continue-cont{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 76px;
    width: 100%;
    border-top: 1px solid hsla(0,0%,88%,.35);
    display: flex;
    align-items: center;
    .wrapper{
        display: flex;
        justify-content: end;
        align-items: center;
        div{
            text-transform: uppercase;
            color: hsla(0,0%,100%,.5);
            font-size: 14px;
            font-weight: 500;
        }
        button{
            cursor: pointer;
            margin: 0 0 0 50px;
            padding: 11px 25px;
            border-radius: 1000px;
            color: #000;
            background-color: #fff;
            border-color: transparent;
            font-weight: 600;
            outline: none;
            transition: .15s;
            &:hover{
                background: $link;
            }
            &[disabled]{
                user-select: none;
                opacity: .35;
                cursor: not-allowed;
                &:hover{
                    background: #fff;
                }
            }
        }
    }
}