::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(110, 110, 110, 0.5);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(110, 110, 110, 0.8); 
    background-clip: content-box;
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}